# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Project
config.yaml
config.yaml.bak
data/
logs/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# Editors
.idea/
.vscode/
*.swp
.DS_Store

# Env
.env
.env.local
